{% extends "base.html" %}

{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
{% load material_form %}

{% block title %}Classificar tweets {% endblock %}

{% block content %}
    <h1> Tweets para classificar </h1>
    <h5> Classifique se o texto do tweet apresenta uma opinião positiva ou negativa em relação ao candidato à Presidência da República relacionado.</h5>
    <form method='POST'>
        {% csrf_token %}
        {% for review_form in review_formset %}
            {% form form=review_form %}{% endform %}
        {% endfor %}
        <button type="submit" name="_submit" class="btn">Submit</button>
    </form>
{% endblock %}
